@import url("https://fonts.googleapis.com/css?family=Lora|Raleway");

.App {
  font-size: 16px;
  font-family: "Raleway";
  text-align: center;
  height: auto;
  background-color: rgba(62, 81, 119, .5);


  .navBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #3e5177;
    text-align: right;
    color: white;
    border-bottom: solid black 1px;
    h4 {
      font-family: "Lora";
    }
    a {
      padding-top: 1rem;
      color: white;
      font-size: 1.25rem;
    }
  }

  .home {
    background-color: white;
    margin-top: 4rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    img {
      height: auto;
      width: 100%;
    }

    h4 {
      margin: 1rem 0rem 1rem 0rem;
    }

    .info {
      padding: 2rem;
      background-color: #3e5177;
      color: white;
    }
  }

  .about {
    background-color: white;
    margin-top: 4rem;
    height: auto;
    width: 100%;
    margin-bottom: 4rem;
    padding: 1rem;
    img {
      height: auto;
      width: 100%;
    }
    h4 {
      margin: 1rem 0rem 1rem 0rem;
    }

    .drs {
      img {
        height: 8rem;
        object-fit: fill;
      }
    }

    .bio {
      padding: 2rem;
      border: solid black 1px;
      margin-bottom: 1rem;
      h4 {
        text-decoration: underline;
      }

      p {
        text-align: left;
        text-indent: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }

  .services {
    padding-top: 1rem;
    background-color: white;
    margin-top: 4rem;
    margin-bottom: 4rem;
    img {
      height: auto;
      width: 100%;
    }

    h3 {
      text-decoration: underline;
      margin-top: 1rem;
    }
    .offerings {
      margin-left: 2rem;
      margin-right: 2rem;
      ul {
        text-align: left;
        line-height: 1.5rem;
      }
    }
  }

  .locations {
    padding-top: 1rem;
    background-color: white;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .locCard {
      margin: 0.5rem;
      border: solid black 1px;
      padding: 0.5rem;
      display: flex;
      line-height: 1.25rem;
      h4 {
        text-decoration: underline;
        margin-top: 1rem;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .forms {
    height: 100vh;
    background-color: white;
    margin-top: 4rem;
    padding: 2rem;
    a {
      margin: 1rem;
    }
  }
  .footer {
    height: 4rem;
    width: 100%;
    background-color: #3e5177;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    line-height: 0.01rem;
    font-family: "Lora", serif;
    color: white;
    border-top: solid black 1px;

    h2 {
      font-size: 1.25rem;
    }

    h3 {
      font-size: 1rem;
    }

    .footerInfo {
      height: 1rem;
      text-align: center;
      line-height: 0.5rem;
      margin-bottom: 2.5rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  .App {
    font-size: 24px;

    .home {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .info {
        width: 100%;
        margin-top: 1rem;
      }
      img {
        width: 50%;
      }
    }

    .about {
      padding: 1rem;
      width: auto;
      img {
        width: 50%;
      }
      .drs {
        img {
          height: 15rem;
        }
        margin-bottom: 2rem;
      }
    }

    .services {
      padding-top: 1rem;
      img {
        height: 60vh;
        width: auto;
      }

      .offerings {
        text-align: center;
        background-color: #3e5177;
        padding: 3rem;
        color: white;
        margin: 2rem 0rem 2rem 0rem;
        border-top: solid black 2px;
        border-bottom: solid black 2px;
      }
    }

    .locations {
      padding-top: 1rem;
      height: 100vh;
      .locCard {
        line-height: 2rem;
      }
    }

    .forms {
      height: 100vh;
    }
  }
}
