@import url("https://fonts.googleapis.com/css?family=Lora|Raleway");

.App {
  font-size: 16px;
  font-family: "Lora";
  text-align: center;
  height: auto;
  
  .navBar {
    background: #3E5177;
    text-align: right;
    color: white;

    a {
      color: white;
      font-size: 1.25rem;
      
    }
  }

  .home {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    img {
      height: auto;
      width: 100%;
    }

    h4 {
      margin: 1rem 0rem 1rem 0rem;
    }

    .info {
      padding: 2rem;
      background-color: #3E5177;
      color: white;
    }
  }

  .about {
    height: auto;
    width: 100%;

    img {
      height: auto;
      width: 100%;
    }

    .drs {
      img {
        height: 8rem;
        object-fit: fill;
      }
    }

    .bio {
      padding: 2rem;
      border: solid black 1px;
      margin-bottom: 1rem;
      h4 {
        text-decoration: underline;
      }

      p {
        text-align: left;
        text-indent: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }

  .services {
    img {
      height: auto;
      width: 100%;
    }

    h3 {
      text-decoration: underline;
      margin-top: 1rem;
    }

    ul {
      text-align: left;
      line-height: 1.5rem;
    }
  }

  .footer {
    height: 4rem;
    width: 100%;
    background-color: #3e5177;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    line-height: 0.01rem;
    font-family: "Lora", serif;
    color: white;

    h2 {
      font-size: 1.25rem;
    }

    h3 {
      font-size: 1rem;
    }

    .footerInfo {
      height: 1rem;
      text-align: center;
      line-height: 0.5rem;
      margin-bottom: 2.5rem;
    }
  }
}
